// variable color
$color-white-0:#fff;
$color-black-0:#000;
$color-black-1:#4a4a4a;
$color-black-2:#1f2e46;
$color-black-3:rgba(12, 27, 54, .8);
$color-red-0:#fa5238;
$color-gray-0:#9b9b9b;
$color-green-0:#00ac4d;
// variable font-size
$font-size-0:14px; //default
$font-size-1:13px;
$font-size-2:16px;
$font-size-3:18px;
$font-size-small:12px;
// variable font-family
$font-family-0:"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-1:sans-serif;
$font-family-2:'Epilogue',
sans-serif;
//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 20px;
//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
//break points
$breakpoints:( 'extra-large': 1200px, 'large': 992px, 'medium': 768px, 'small': 576px, )