// MOVIE SCHEDULE
.movie_schedule {
    // display: none;
    // position: relative;
    background-color: white;
    .schedule_bar {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-white-0;
        max-width: 940px;
        width: 100%;
        margin: 0 auto;
        height: 80px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        // transform: translateY(-50%);
        z-index: 2;
        .drop_btn {
            float: left;
            width: 30%;
            .edit_btn {
                display: block;
                background-color: white;
                color: black;
                font-size: 14px;
                border: none;
                width: 100%;
                height: 43px;
                text-align: left;
                transform: translateY(45%);
                border-right: 1px solid #e9e9e99b;
                img {
                    float: right;
                    padding-top: 7px;
                }
            }
            .dropdowm-menu {
                a {
                    font-size: 14px;
                }
            }
        }
        .btn_small {
            width: calc(70%/4);
        }
        .btn_confirm {
            width: calc(70%/4 - 20px);
            background-color: #4a4a4a;
            border: none;
            border-radius: 4px;
            color: white;
            padding: 10px 10px;
            margin: 20px 10px 10px;
        }
    }
    .nav-tabs {
        border-bottom: none;
        height: 25px;
        margin: auto;
        width: 100%;
        margin-bottom: 30px;
        justify-content: center;
        .nav-item {
            display: block;
            margin-left: 40px;
            .nav-link {
                padding: 0;
                border: none;
                font-size: 20px;
                color: black;
                transition: all 0.2s;
                &:hover {
                    font-size: 24px;
                }
            }
            .nav-link.active {
                font-size: 24px;
                color: $color-red-0;
            }
        }
    }
    // height: 1022px;
    .movie_schedule_content {
        max-width: 940px;
        margin: auto;
        // BOOKING BAR
        // MOVIE PANEL
        .movie_panel {
            margin-top: 100px;
        }
        .tab-content {
            .schedule_carousel {
                position: relative;
                .owl-nav {
                    .owl-prev {
                        position: absolute;
                        left: -10%;
                        top: 45%;
                        transform: translateY(-50%);
                    }
                    .owl-next {
                        position: absolute;
                        right: -10%;
                        top: 45%;
                        transform: translateY(-50%);
                    }
                }
            }
            .row {
                margin-left: 0;
                margin-right: 0;
                .col-3 {
                    padding: 20px 10px 0;
                    margin-bottom: 25px;
                }
            }
            .movie_item {
                position: relative;
                .movie_pic {
                    position: relative;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    height: 350px;
                    img {
                        width: 100%;
                        border-radius: 4px;
                        height: 100%;
                    }
                    .play_btn {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        background: linear-gradient(to top, #000, transparent 100%);
                        border: none;
                        opacity: 0;
                        transition: all .2s;
                        #play_img {
                            margin: auto;
                            width: 50px;
                            height: 50px;
                            z-index: 3;
                            opacity: 1;
                            transition: all 0.2s;
                            &:hover {
                                opacity: .5;
                            }
                        }
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                    .movie_type {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        font-size: 12px;
                        color: white;
                        background-color: #fb4226;
                        padding: 4px 8px;
                        border-radius: 6px;
                        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .3);
                    }
                }
                .movie_description {
                    opacity: 1;
                    transition: all .2s;
                    p {
                        margin-bottom: 0;
                        font-size: 16px;
                        height: 42px;
                        line-height: 22px;
                    }
                    .movie_age_c {
                        font-size: 14px;
                        color: white;
                        background-color: #fb4226;
                        text-align: center;
                        min-width: 33px;
                        padding: 4px 5px;
                        border-radius: 4px;
                        margin-right: 8px;
                    }
                    .movie_age_p {
                        font-size: 14px;
                        color: white;
                        background-color: #00ac4d;
                        text-align: center;
                        min-width: 33px;
                        padding: 4px 13px;
                        border-radius: 4px;
                        margin-right: 8px;
                    }
                    .movie_duration {
                        font-size: 13px;
                        margin: 8px 0 15px;
                    }
                }
                .movie_overlay {
                    opacity: 0;
                    transition: all .2s;
                    #buy_btn {
                        width: 100%;
                        position: absolute;
                        bottom: 10.8%;
                        left: 0;
                        display: block;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 18px;
                        padding: 10px;
                        text-align: center;
                        background: #fb4226;
                        background: linear-gradient(to left, #fb4226, #ce3017 100%);
                        border: none;
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
                .movie_icon {
                    .film_type {
                        position: absolute;
                        top: -30px;
                        left: -20px;
                        width: 80%;
                        max-width: 150px;
                    }
                    .rating {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 16px;
                        color: white;
                        background-color: rgba(12, 27, 54, .8);
                        border: 1px solid #1f2e46;
                        border-radius: 4px;
                        padding: 2px;
                        line-height: 1.1;
                        width: 54px;
                        text-align: center;
                        p {
                            margin-bottom: 0;
                        }
                        .rating_star {
                            img {
                                display: inline-block;
                                width: 8px;
                            }
                        }
                    }
                }
                &:hover .movie_overlay {
                    opacity: 1;
                }
                &:hover .play_btn {
                    opacity: 1;
                }
                &:hover .movie_description {
                    opacity: 0;
                }
            }
        }
    }
    .movie_schedule_content_mb {
        button {
            font-size: 14px;
            color: #949494;
            border: 1px solid #949494;
            border-radius: 4px;
            text-align: center;
            background: 0 0;
            padding: 6px 25px;
            transition: all .2s;
            margin: auto;
            margin-top: 35px;
            margin-bottom: 20px;
            display: block;
            &:hover {
                background-color: #fb4226;
                border-color: #fb4226;
                color: #fff!important;
            }
            &:focus {
                outline: none;
            }
        }
        display: none;
        .movie_panel_mb {
            .movie_item_mb {
                cursor: pointer;
                position: relative;
                padding: 10px 10px 0;
                margin-bottom: 20px;
                .movie_pic_mb {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .movie_type {
                        position: absolute;
                        right: 10px;
                        bottom: 30px;
                        font-size: 12px;
                        color: white;
                        background-color: #fb4226;
                        padding: 4px 8px;
                        border-radius: 6px;
                        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .3);
                    }
                    .movie_age_c {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        font-size: 14px;
                        color: white;
                        background-color: #fb4226;
                        text-align: center;
                        min-width: 33px;
                        padding: 2px 5px;
                        border-radius: 4px;
                        margin-right: 8px;
                    }
                    .movie_age_p {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        font-size: 14px;
                        color: white;
                        background-color: #00ac4d;
                        text-align: center;
                        min-width: 33px;
                        padding: 2px 5px;
                        border-radius: 4px;
                        margin-right: 8px;
                    }
                }
                .film_type {
                    position: absolute;
                    top: -19px;
                    left: -8px;
                    width: 80%;
                    max-width: 150px;
                }
                .rating {
                    position: absolute;
                    top: 20px;
                    padding: 2px;
                    right: 22px;
                    font-size: 16px;
                    color: white;
                    ;
                    background-color: rgba(12, 27, 54, .8);
                    border: 1px solid #1f2e46;
                    border-radius: 4px;
                    line-height: 1.1;
                    width: 54px;
                    text-align: center;
                    p {
                        margin-bottom: 0;
                    }
                    .rating_star {
                        img {
                            display: inline-block;
                            width: 8px;
                        }
                    }
                }
            }
        }
    }
    .modal {
        .modal-dialog {
            margin: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            .modal-body {
                padding: 0;
                height: 500px;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .close {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    opacity: 1;
                    z-index: 2;
                    transition: all 0.2s;
                    &:hover {
                        opacity: .5;
                    }
                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }
        }
    }
}

// NAV TAB
// MOVIE ITEM
@media screen and (min-width:992px) {
    .modal-lg {
        height: 550px;
        width: 900px;
    }
}

@media screen and (max-width:992px) {
    .movie_schedule {
        .schedule_bar {
            display: none;
        }
        .movie_schedule_content {
            display: none;
        }
        .movie_schedule_content_mb {
            margin-top: 80px;
            display: block;
        }
        .modal-lg {
            width: 598px;
            height: 335px;
        }
        .modal {
            .modal-dialog {
                .modal-body {
                    height: 335px;
                }
            }
        }
    }
}